<html>
<head>
	<title>hello world</title>
</head>
<body>
	{% if username %}
		Welcome, {{ username }}
	{% else %}
		<form method="get" action="">
			<input name="username" />
			<input type="submit" value="Submit" /> 
		</form>
	{% endif %}

</body>
</html>